<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="imageStorage">
            <h2><span jhiTranslate="sportComplexFinderApp.imageStorage.detail.title">Image Storage</span> {{ imageStorage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sportComplexFinderApp.imageStorage.image">Image</span></dt>
                <dd>
                    <div *ngIf="imageStorage.image">
                        <a (click)="openFile(imageStorage.imageContentType, imageStorage.image)">
                            <img [src]="'data:' + imageStorage.imageContentType + ';base64,' + imageStorage.image" style="max-width: 100%;" alt="imageStorage image"/>
                        </a>
                        {{ imageStorage.imageContentType }}, {{ byteSize(imageStorage.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="sportComplexFinderApp.imageStorage.sportsHallId">Sports Hall Id</span></dt>
                <dd>
                    <span>{{ imageStorage.sportsHallId }}</span>
                </dd>
                <dt><span jhiTranslate="sportComplexFinderApp.imageStorage.isPrimary">Is Primary</span></dt>
                <dd>
                    <span>{{ imageStorage.isPrimary }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image-storage', imageStorage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
