<div>
    <h2 id="page-heading">
        <span jhiTranslate="sportComplexFinderApp.sportsHall.home.title">Sports Halls</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sports-hall" [routerLink]="['/sports-hall/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sportComplexFinderApp.sportsHall.home.createLabel">
            Create a new Sports Hall
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sportsHalls?.length === 0">
        <span jhiTranslate="sportComplexFinderApp.sportsHall.home.notFound">No sportsHalls found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sportsHalls && sportsHalls.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="sportComplexFinderApp.sportsHall.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="sportComplexFinderApp.sportsHall.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contactPerson"><span jhiTranslate="sportComplexFinderApp.sportsHall.contactPerson">Contact Person</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span jhiTranslate="sportComplexFinderApp.sportsHall.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telegramNick"><span jhiTranslate="sportComplexFinderApp.sportsHall.telegramNick">Telegram Nick</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="price"><span jhiTranslate="sportComplexFinderApp.sportsHall.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="status"><span jhiTranslate="sportComplexFinderApp.sportsHall.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="latitude"><span jhiTranslate="sportComplexFinderApp.sportsHall.latitude">Latitude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="longitude"><span jhiTranslate="sportComplexFinderApp.sportsHall.longitude">Longitude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="address"><span jhiTranslate="sportComplexFinderApp.sportsHall.address">Address</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="landmark"><span jhiTranslate="sportComplexFinderApp.sportsHall.landmark">Landmark</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ownerTelegramId"><span jhiTranslate="sportComplexFinderApp.sportsHall.ownerTelegramId">Owner Telegram Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryName"><span jhiTranslate="sportComplexFinderApp.sportsHall.category">Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cityName"><span jhiTranslate="sportComplexFinderApp.sportsHall.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sportsHall of sportsHalls ;trackBy: trackId">
                    <td><a [routerLink]="['/sports-hall', sportsHall.id, 'view']">{{ sportsHall.id }}</a></td>
                    <td>{{ sportsHall.name }}</td>
                    <td>{{ sportsHall.description }}</td>
                    <td>{{ sportsHall.contactPerson }}</td>
                    <td>{{ sportsHall.phone }}</td>
                    <td>{{ sportsHall.telegramNick }}</td>
                    <td>{{ sportsHall.price }}</td>
                    <td jhiTranslate="{{ 'sportComplexFinderApp.FacilityStatus.' + sportsHall.status }}">{{ sportsHall.status }}</td>
                    <td>{{ sportsHall.latitude }}</td>
                    <td>{{ sportsHall.longitude }}</td>
                    <td>{{ sportsHall.address }}</td>
                    <td>{{ sportsHall.landmark }}</td>
                    <td>{{ sportsHall.ownerTelegramId }}</td>
                    <td>
                        <div *ngIf="sportsHall.categoryId">
                            <a [routerLink]="['/category', sportsHall.categoryId , 'view']" >{{ sportsHall.categoryName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sportsHall.cityId">
                            <a [routerLink]="['/city', sportsHall.cityId , 'view']" >{{ sportsHall.cityName }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sports-hall', sportsHall.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sports-hall', sportsHall.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sportsHall)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="sportsHalls && sportsHalls.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
