<div>
    <h2 id="page-heading">
        <span jhiTranslate="sportComplexFinderApp.administrator.home.title">Administrators</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-administrator" [routerLink]="['/administrator/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sportComplexFinderApp.administrator.home.createLabel">
            Create a new Administrator
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="administrators?.length === 0">
        <span jhiTranslate="sportComplexFinderApp.administrator.home.notFound">No administrators found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="administrators && administrators.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="chatId"><span jhiTranslate="sportComplexFinderApp.administrator.chatId">Chat Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="role"><span jhiTranslate="sportComplexFinderApp.administrator.role">Role</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let administrator of administrators ;trackBy: trackId">
                    <td><a [routerLink]="['/administrator', administrator.id, 'view']">{{ administrator.id }}</a></td>
                    <td>{{ administrator.chatId }}</td>
                    <td jhiTranslate="{{ 'sportComplexFinderApp.AdminRole.' + administrator.role }}">{{ administrator.role }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/administrator', administrator.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/administrator', administrator.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(administrator)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="administrators && administrators.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
